<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>
  <div fxFlex *ngIf="dishes" [@expand]>
    <md-grid-list cols="2" rowHeight="200px">
      <md-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight>
        <img height="200px" src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <md-grid-tile-footer>
        <h1 md-line> {{dish.name | uppercase}}</h1>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
    <div [hidden]="dishes || errMess">
      <md-spinner> </md-spinner> <h4> Loading . . . Please wait </h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error </h2>
      <h4> {{errMess}} </h4>
    </div>
  </div>
       
       <!--Card Component -->
 <!--- <div fxFlex *ngIf="selectedDish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{selectedDish.name | uppercase}}</h3>
        </md-card-title> 
      </md-card-header>
      <img md-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
      <md-card-content>
        <p>{{selectedDish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div> -->
  
</div>

<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40">
    
     <div fxFlex *ngIf="dish" [@expand]>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title> 
      </md-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div> 
  
  </div>

  <div fxFlex="40">
    <md-list *ngIf="dish" [@expand]>
      <h3>Comments</h3>
      <md-list-item *ngFor="let comment of dish.comments">
        <h4 md-line> {{comment.comment}}</h4>
        <p md-line> {{comment.rating}} Stars</p>
        <p md-line>
          <span> --{{comment.author}} {{comment.date | date }}</span>
        </p>
      </md-list-item>
    </md-list>
    
  </div>

</div>
